/* Import google fonts ==================================================*/

/* Source Sans Pro */
/* https://fonts.google.com/specimen/Source+Sans+Pro?category=Sans+Serif&preview.text=KARI%20Kari%20Paid&preview.text_type=custom */
/*
Font weights:
- 200 | Extra Light
- 300 | Light
- 400 | Regular
- 600 | Semi Bolt
- 700 | Bold
- 900 | Black
*/


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* Oswald */
/* https://fonts.google.com/specimen/Oswald */
/* Font weights: 300 | Light */


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


/* Variables =========================================================== */

:root {
    /* Font weights */
    --font-light: 300;
    --font-regular: 400;
    --font-semibold: 600;

    /* Font colors */
    --font-white: hsl(216, 14%, 93%);
    --font-black: hsl(0, 0%, 16%);

    /* Font sizes */
    --font-paragraph: 1rem;
    --font-main-title: 3rem;
    --font-sub-title: 1.5rem;
    --font-input-title: 0.75rem;

    /* Colors */
    --black: hsl(0, 0%, 16%);
    --white: hsl(216, 14%, 93%);
    --bg-base-color: hsl(307, 26%, 26%);
    --bg-top-color: 
        radial-gradient(at 96% 5%, hsla(193,33%,15%,1) 0, transparent 37%),  
        radial-gradient(at 40% 30%, hsla(212,50%,27%,1) 0, transparent 34%),  
        radial-gradient(at 6% 7%, hsla(204,71%,24%,1) 0, transparent 53%),  
        radial-gradient(at 95% 30%, hsla(182,65%,23%,1) 0, transparent 52%),  
        radial-gradient(at 44% 67%, hsla(356,14%,36%,1) 0, transparent 54%),  
        radial-gradient(at 84% 94%, hsla(342,9%,32%,1) 0, transparent 64%),  
        radial-gradient(at 7% 81%, hsla(312,27%,28%,1) 0, transparent 60%);
    --bg-flipped-color:
        radial-gradient(at 96% 96%, hsla(193,33%,15%,1) 0, transparent 37%),  
        radial-gradient(at 40% 70%, hsla(212,50%,27%,1) 0, transparent 34%),  
        radial-gradient(at 6% 93%, hsla(204,71%,24%,1) 0, transparent 53%),  
        radial-gradient(at 94% 70%, hsla(182,65%,23%,1) 0, transparent 52%),  
        radial-gradient(at 44% 33%, hsla(356,14%,36%,1) 0, transparent 54%),  
        radial-gradient(at 83% 7%, hsla(342,9%,32%,1) 0, transparent 64%),  
        radial-gradient(at 7% 19%, hsla(312,27%,28%,1) 0, transparent 60%);

    /* Cards */
    --basic-card-color: hsla(0, 0%, 16%, 0.8);

    /* Buttons */
    --button-border-color: hsl(250, 100%, 84%);
    --button-fill-color-1: hsl(250, 100%, 84%);
    --button-fill-color-2: hsl(0, 0%, 16%);
    --button-fill-color-3: hsl(271, 90%, 88%);
    --button-hover-color: hsl(236, 43%, 62%);
    --button-animate-color: 
        linear-gradient(to right top, #757bc8, #8284d2, #8f8ddc, #9c97e7, 
        #a9a0f1, #b3a6f5, #bdacfa, #c6b2fe, #cdb6fd, #d4bafd, #dabffc, #e0c3fc);

    /* Inputs */    
    --auth-bg-color: hsl(230, 13%, 9%);
    --auth-card-menu-color: hsl(240, 13%, 13%);
    --auth-card-input-color: hsl(230, 8%, 15%);
    --auth-input-bg-color: hsl(221, 16%, 20%);
    --auth-input-border-color: hsl(216, 14%, 93%);
    --auth-input-border-error-color: hsl(7, 100%, 65%);

}

/* Document scope settings ============================================= */

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    font-size: 1rem;
}

.button:hover,
button:hover,
a:hover {
    cursor: pointer;
}

a:active,
a:visited,
a:link {
    text-decoration: transparent;
}

ul {
    list-style: none;
}

h1 {
    font-weight: normal;
}

button {
    border: none;
    background: none;
    color: var(--font-white);
}
/* =================================================================== */














/* Main CSS =========================================================== */

.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.section-one {
    /* width: 100vw; */
    height: 100%;
    padding-bottom: 120px;

    background-color: var(--bg-base-color);
    background-image: var(--bg-top-color);
}

.section-two {
    /* width: 100vw; */
    min-height: 600px;
    background-color: var(--bg-base-color);
    background-image: var(--bg-flipped-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Header ========================================================== */
header {
    background: var(--basic-card-color);
    border-radius: 15px;

    width: 92%;
    height: 90px;
    margin-top: 17px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 60px;
    height: 60px;
    margin-left: 40px;
    cursor: pointer;
}

header nav {
    margin-right: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-button {
    margin-right: 20px;
}

.nav-button {
    border: 3px solid var(--button-border-color);
    border-radius: 13px;
    background: var(--button-fill-color-2);
    padding: 6px 18px;

    text-align: center;
    color: var(--font-white);
}

.nav-button:hover {
    background: var(--button-hover-color);
}

.nav-button-simple {
    border: 1px solid transparent;
    padding: 4px 0px;
    margin: 0px 8px;
    background: none;
    border-radius: 0;
}

.logout-button {
    margin-right: 25px;
}

.nav-button-simple:hover {
    border-bottom: 1px solid white;
    background: none;
}

.dropdown-container {
    display: none;
}

/* Banner ============================================================= */

/* Banner -------------------------------- */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


/* h1 {
    border: 5px solid var(--button-border-color);
    border-radius: 28px;
    padding: 3px 25px;
    margin-top: 90px;
    margin-bottom: 40px;

    font-size: 6rem;
    color: var(--font-white);
} */

/* Animation ---------------------------- */

.animation-container {
    margin-top: 61px;
    margin-bottom: 65px;

    width: 60%;
    max-width: 250px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-box {
    width: 90%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Banner -------------------------------- */
.banner-text {
    font-size: 2.5rem;
    color: var(--font-white);
    text-align: center;
    font-weight: var(--font-light);

    width: 70%;
    max-width: 700px;
    margin-bottom: 50px;
}

.learn-more-button {
    padding: 15px 12px;
    border: none;
    border-radius: 13px;
    background: var(--button-animate-color) 0 0/ 500%;
    -webkit-box-shadow: 
        12px 12px 20px -12px 
        hsla(0, 0%, 0%, 0.522); 
    box-shadow: 
        12px 12px 20px -12px 
        rgba(0,0,0,0.52);

    text-align: center;
    color: var(--font-black);
    transition: 
        background-position 300ms ease;
}

.learn-more-button:hover {
    background-position: 99%;
}

/* Instruction =========================================================*/

.card {
    width: 92%;
    max-width: 1250px;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    position: relative;
    isolation: isolate; /* with ::after This forces the background to be visible */

    border-radius: 15px;
    background: var(--basic-card-color);
    padding: 20px 5px 20px 5px;

    color: var(--font-white);
    text-align: center;
}

.car::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
}

.grid-box-1,
.grid-box-2,
.grid-box-7 {
    grid-column: 1/5;
}


.grid-item {
/*     border: 2px solid white; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px
}

.instruction-title {
    font-weight: var(--font-regular);
    font-size: 2.3rem;    
}

.instruction-box {
    padding-top: 40px;
}

.instruction-round {
    background: var(--bg-top-color);
    border-radius: 50%;

    width: 120px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.instruction-round img {
    width: 50%;
    height: 50%;
}


.grid-item h3 {
    width: 70%;
    margin-top: 10px;

    text-transform: uppercase;
    font-weight: var(--font-regular);
    text-align: center;
}

.grid-box-5 h3 {
    width: 95%;
}

.grid-box-7 {
    padding-top: 50px;
}

.instruction-button {
    border: transparent;
    border-radius: 13px;
    padding: 15px 18px;
    background: var(--button-animate-color) 0 0/ 500%;
    -webkit-box-shadow: 
        12px 12px 20px -12px 
        hsla(0, 0%, 0%, 0.522); 
    box-shadow: 
        12px 12px 20px -12px 
        rgba(0,0,0,0.52);

    text-align: center;
    color: var(--font-black);
    transition: 
        background-position 300ms ease;
}

.instruction-button:hover {
    background-position: 99%;
}

/* Footer ============================================================= */

footer {
    background: var(--basic-card-color);
    border-radius: 15px;

    width: 92%;
    height: 90px;
    margin-top: 57px;
    margin-bottom: 5px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--font-white);
}

/* Login modal ---------------------------------------------------------*/
.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    /* transform: translate(-50%, -50%); */
    z-index: 12;
    height: 100vh;
    width: 60%;
    background-color: var(--auth-bg-color);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
}

.modal-overlay {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.522);
    backdrop-filter: blur(3px);

}

.auth-modal-nav {
    background: var(--basic-card-color);
    border-radius: 15px;

    width: 92%;
    height: 90px;
    margin-top: 17px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-modal-nav ul {
    display: flex;
    padding: 0;

}

.auth-button {
    border: 3px solid var(--button-border-color);
    border-radius: 13px;
    background: var(--button-fill-color-2);
    padding: 6px 18px;
    margin: 10px;

    text-align: center;
    color: var(--font-white);
}

.auth-button:hover {
    background: var(--button-hover-color);
}

.login-sign-in-button, 
.login-sign-in-button:hover {
    background: var(--button-border-color);
    color: var(--font-black);
    font-weight:var(--font-black);
}



.auth-input-field {
    background: var(--basic-card-color);
    border-radius: 15px;

    width: 92%;
    margin-top: 17px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: var(--font-white);
}

.auth-modal h2 {
    /* color: var(--font-white); */
    font-size: var(--font-sub-title);
    font-weight: var(--font-regular);

    margin: 30px 0 30px 0;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.auth-form ::placeholder {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    color: hsl(240, 0%, 57%);
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.input-container-second {
    margin: 20px 0 20px 0;
}

.input-container-third {
    margin: 0px 0 20px 0;
}

.auth-label {
    text-transform: uppercase;
    font-size: var(--font-input-title);
    margin-bottom: 5px;
}

.auth-modal-submit-btn {
    margin-top: 10px;
    margin-bottom: 17px;
}

.forgot-password {
    color: var(--button-border-color);
    font-weight: var(--font-light);
    margin: 10px 10px 20px 10px;
}

.invalid-auth {
    font-weight: var(--font-light);
    color: hsl(7, 100%, 65%);
    margin: 10px 10px 20px;
}

.close-auth-modal {
    color: var(--font-white);
    font-size: 2.5rem;
    margin: 15px;
}

.close-auth-modal:hover {
    cursor: pointer;
}

.auth-modal-submit-btn {
    border: 2px solid white;
    border-radius: 5px;
    background: var(--button-fill-color-2);
    padding: 6px 18px;

    text-align: center;
    color: var(--font-white);
}

.auth-input {
    border-radius: 5px;
    padding: 5px;
    background-color: var(--auth-input-bg-color);
    border: 2px solid var(--auth-input-border-color);
    color: var(--font-white);
}

.error-auth-input {
    border-color: var(--auth-input-border-error-color);
}

/* Register modal ---------------------------------------------------------*/

.register-register-button, 
.register-register-button:hover {
    background: var(--button-border-color);
    color: var(--font-black);
    font-weight:var(--font-black);
}

/* Forgot modal -----------------------------------------------------------*/
.forgot-password-info {
    margin: 15px 20px 20px 20px;
    text-align: center;
    font-size: 0.85rem;

}


/* Responsive styles ================================================== */

/* Mobile ---------------------------- */
@media only screen and (max-width: 430px) {

header {
    position: relative;
}

header nav {
    margin-right: 17px;
}

header .logo {
    margin-left: 17px;
}

.dropdown-hamburger {
    width: 57px;
    height: 34px;

    position: absolute;
    right: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.dropdown-hamburger .line {
    width: 35px;
    height: 4px;

    background-color: var(--button-border-color);
}

.dropdown-hamburger:hover {
    cursor: pointer;
}

header ul {
    display: none;
}

.dropdown-container {
    display: block;
    width: 92%;
    height: 100%;
    background: var(--basic-card-color);
    transform: translateY(-10px);
    z-index: 1;
    opacity: 0;
    transition: 
        transform 250ms ease-in-out,
        opacity 250ms ease-in-out;
}
/* Add these with JS to header */
.active-dropdown {
    transform: translateY(0px);
    opacity: 1;
}

.header-border-radius-fix {
    border-radius: 15px 15px 0 0;
}

.dropdown-overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.active-overlay {
    opacity: 1;
/*     background: rgba(235, 115, 99, 0.5); */
    pointer-events: all;
}

.dropdown-container ul {
    padding: 0;
}

.dropdown-container li {
    padding: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.dropdown-nav-button {
    color: var(--font-white);
    font-size: 1.6rem;
    font-weight: var(--font-light);
    text-align: center;
    text-transform: uppercase;

    /* width: 50%; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    grid-template-columns: 1fr;
}

.grid-item {
    grid-column: 1/5;
}

/* Auth Modal */

.modal-container {
    width: 100%;
}

}

/* Mid mobile */
@media only screen and (min-width: 431px) and (max-width: 740px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 15px 20px 15px;
    }

    .grid-box-1,
    .grid-box-2,
    .grid-box-7 {
        grid-column: 1/3;
    }

    .modal-container {
        width: 80%;
    }

    header {
        position: relative;
    }
    
    header nav {
        margin-right: 17px;
    }
    
    header .logo {
        margin-left: 17px;
    }
    
    .dropdown-hamburger {
        width: 57px;
        height: 40px;
    
        position: absolute;
        right: 17px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;

    }
    
    .dropdown-hamburger .line {
        width: 35px;
        height: 4px;

    
        background-color: var(--button-border-color);
    }

    .dropdown-hamburger:hover {
        cursor: pointer;
    }
    
    header ul {
        display: none;
    }
    
    .dropdown-container {
        display: block;
        width: 92%;
        height: 100%;
        background: var(--basic-card-color);
        transform: translateY(-10px);
        z-index: 1;
        opacity: 0;
        transition: 
            transform 250ms ease-in-out,
            opacity 250ms ease-in-out;
    }
    /* Add these with JS to header */
    .active-dropdown {
        transform: translateY(0px);
        opacity: 1;
    }
    
    .header-border-radius-fix {
        border-radius: 15px 15px 0 0;
    }
    
    .dropdown-overlay {
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }
    
    .active-overlay {
        opacity: 1;
    /*     background: rgba(235, 115, 99, 0.5); */
        pointer-events: all;
    }
    
    .dropdown-container ul {
        padding: 0;
    }
    
    .dropdown-container li {
        padding: 0;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .dropdown-nav-button {
        color: var(--font-white);
        font-size: 1.6rem;
        font-weight: var(--font-light);
        text-align: center;
        text-transform: uppercase;
    
        /* width: 50%; */
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Tablet ---------------------------- */
@media only screen and (min-width: 740px) and (max-width: 840px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 15px 20px 15px;
    }

    .grid-box-1,
    .grid-box-2,
    .grid-box-7 {
        grid-column: 1/3;
    }

    .modal-container {
        width: 80%;
    }



}

/* Small computer | Large tablet ------*/
@media only screen and (min-width: 841px) and (max-width: 1366px) {}

/* Desktop ----------------------------*/
@media only screen and (min-width: 1367px) {}



.display-none {
    display: none;
}